.nav-link {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;

  color: #387f8a;
  align-self: center;
  margin: 16px 0px;
}

.profile {
  left: 0px;
  top: 22px;

  font-size: 14px;
  line-height: 22px;
  align-items: center;
  text-decoration-line: underline;

  color: #387f8a;
  margin: 0px 0px;
}

.login-name {
  font-size: 14px;
  line-height: 22px;

  color: #000000;
  margin: 0px 0px;
}

.app-header {
  z-index: 999;
  height: 72px;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
}

.ant-popover-title {
  padding-left: 14px !important;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;

  color: #505050;
}

.wrapper-1-menu-desc {
  font-size: 14px;
  line-height: 14px;

  color: #8e8e8e;
  align-self: center;
  margin-top: 5px;
  margin-bottom: 8px;
}

.wrapper-1 {
  width: 343px;
  background: #ffffff;
}

.wrapper-2 {
  width: 208px;
  background: #ffffff;
}

.wrapper-2-menu-desc {
  font-size: 14px;
  line-height: 22px;

  color: #505050;
  align-self: center;
}

.context-menu {
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  color: #505050;
  align-self: center;
}

.custom-divider:after {
  content: '';
  display: block;
  margin: 0px 16px;
  border-bottom: 0.5px solid #e5e5e5;
}

.version-style {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  color: #f35803;
}
